.titulo{
    border: solid 1px rgb(243, 228, 228);
    background-color: beige;
    color: rgb(170, 152, 152);
    text-align-last: center;
    height: 100px;
    font-size: larger;
    font-style: italic;

  
    